.btn {
     display: inline-block;
     background-color: transparent;
     border: none;
     cursor: pointer;

     &:focus {
          outline: none;
     }

     &--sign-out {
          color: $color-logo;
          font-size: 1.5rem;
          font-weight: 300;
          padding: 0 2.5rem;
          background-color: transparent;

          &:hover {
               background-color: $color-white;
               color: $text-red;
          }

          @include media(phone) {
               display: none;
          }
     }

     &--mobile-sign-out {
          width: 100%;
          text-align: left;
          padding: 1.3rem 2.5rem 1.3rem 3.5rem;
          position: relative;
          transition: color .3s .3s ease-in;

          &::before {
               content: "";
               position: absolute;
               display: block;
               bottom: 0;
               left: 0;
               height: 0;
               width: 3%;
               background-color: $color-white;
               z-index: -1;
               transition: height .2s ease-in-out, width .3s .4s cubic-bezier(0.25, 0.46, 0.45, 0.94);
          }

          &:hover::before {
               height: 100%;
               width: 100%;
          }

          &:hover {
               background-color: transparent;
          }

          @include media(54em) {
               display: block;
          }
     }

     &--menu {
          display: none;

          @include media(54em) {
               display: block;
          }
     }

     &--close {
          position: absolute;
          top: 0;
          right: 0;
          padding: 1rem 1.5rem;
          z-index: 4000;

          &::before {
               content: "";
               display: block;
               position: absolute;
               top: -100%;
               right: 0;
               background-color: $color-red-dark-3;
               height: 100%;
               width: 100%;
               z-index: -1;
               transition: all .4s ease-in-out;
          }

          &:hover::before {
               top: 0;
          }
     }

     &--play, 
     &--add,
     &--remove {
          margin-top: 2rem;
          border: 2px solid $color-white;
          color: $color-white;
          padding: 1.2rem 3.5rem;
          font-size: 1.4rem;
          text-transform: uppercase;
          font-weight: 400;
          border-radius: 4px;
          background: linear-gradient(140deg, transparent 50%, transparent 50% , $color-red-dark-3 50%);
          background-size: 260%;
          transition: all .6s;

          &:hover {
               background-position: 90%;
               border: 2px solid $color-red-dark-3;
               box-shadow: 0 1.5rem 4rem rgba(20, 20, 20, 0.511);
               transform: translateY(-2px);
          }
     }

     &--add  {
          @include flexCenter;
          padding: 1rem;
     }

     &--remove {
          padding: 1.2rem 3rem;
     }
}

.btn--close:hover .icon--close {
     transform: rotate(90deg);
}


.icon {
     height: 2.2rem;
     width: 2.2rem;

     &--glass {
          fill: $color-white-light;
     }

     &--arrow {
          fill: $color-gra-light-dark;
          height: 2.6rem;
          width: 2.6rem;
     }

     &--close {
          fill: $color-white;
          height: 3rem;
          width: 3rem;
          transition: all 0.4s ease-in-out;
     }

     &--add {
          fill: $color-white;
     }

     &--play {
          fill: rgba(255, 255, 255, 0.81);
          height: 15rem;
          width: 15rem;
     }
}


