/**************************************
***** Typography
***************************************/

body {
     font-family: 'Lato', sans-serif;
     font-weight: 400;
     line-height: 1.7;
     color: $color-white;
     text-rendering: optimizeLegibility;
}

.heading-first {
     font-size: 3rem;
     text-transform: capitalize;
     font-weight: 300;
     letter-spacing: .1rem;
}

.heading-second {
     font-size: 2.8rem;
     margin-bottom: 2rem;
}


.user {
     &__name {
          font-size: 1.6rem;
          color: $text-gray;
     }
}

.activity {
     letter-spacing: 0.05rem;

     &__heading {
          font-size: 1.4rem;
          font-weight: 300;
          text-transform: uppercase;
          color: $text-gray;
          @include flexCenterV;
     }

     &__message {
          font-size: 1.2rem;
          color: $text-gray;
     }

     &__text-highlight {
          color: $text-red;
     }
}

.movie {

     &__title {
          margin-top: 1.2rem;
          font-size: 2rem;
     }
}

.not_found {
     &__message {
          @extend .heading-first;
     }
}

.loading__description {
     font-size: 2rem;
}

.details {
     &__overview,
     &__director {
          font-size: 1.5rem;

          &:not(.details__director) {
               margin-bottom: 2rem;
          }

          &--hidden {
               display: none;
          }
     }
}