.activity {
     padding: 0rem 3rem;
     margin-bottom: 2.2rem;

     @include mediaheight(tab-land) {
          margin-bottom: 5rem;
    }

     &__number {
          margin-left: 1rem;
          color: $color-white;
          background-color: $text-red;
          @include flexCenter;
          height: 2.5rem;
          width: 2.5rem;
          border-radius: 50%;
          font-size: 1.2rem;
     }

     &__users {
          margin-top: 2rem;
     }

     &__user {

          @include flexCenterV;

          &:not(:last-child) {
               margin-bottom: 2rem;
          }
     }

     &__user-image {
          height: 4rem;
          border-radius: 50%;
          margin-right: 1rem;
     }

      /* Safari */
    _::-webkit-full-page-media, _:future, &__user-image {
        height: 4rem;
        min-width: 4rem;
    }
}

@-moz-document url-prefix() {
     .activity {
          margin-bottom: 2.6rem;
     }
}