.details {
     background-color: rgba(0, 0, 0, 0.479);
     position: absolute;
     top: 0;
     left: 0;
     height: 100%;
     width: 100%;
     @include flexCenter;

     &__overlay {
          height: 94%;
          width: 94%;
          position: relative;
          border-top: 3px solid $color-red-dark-3;
          border-bottom: 3px solid $color-red-dark-3;
          box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.849);
          overflow: hidden;
          padding: 4rem 5rem;
          background-color: $color-black-dark;
          opacity: 0;
          visibility: hidden;
          transform: translateY(-10%);
          animation: openMovieDetails .6s forwards ease-in-out;
          animation-delay: .6s;

          @include media(68.75em) {
               padding: 0rem;
          }

          @include media(phone) {
               padding: 0rem;
               height: 100%;
               width: 100%;
               border-top: 0px solid transparent;
               border-bottom: 0px solid transparent;
          }
     }

     &__content {
          height: 100%;
          display: flex;
          position: relative;

          & > * {
               flex: 1;
               @include flexCenterH;
               flex-direction: column;
          }

          @include media(68.75em) {
               display: block;
               overflow: hidden;
               overflow-y: overlay;
               padding: 3rem 3.2rem;

               & > *:first-child {
                    margin-bottom: 6rem;
               }

               &::-webkit-scrollbar {
                    width: 1rem;
               }
          
               &::-webkit-scrollbar-track {
                    background-color: $bg-black-dark;
               }
               
               &::-webkit-scrollbar-thumb {
                    background-color: $color-red-dark-3;
                    border-radius: 50px;
               }
          }
     }

     &__reference {
          & > * {
               padding-left: 2rem;
          }
     }

     &__play,
     &__poster {
          align-items: center;

          &--hidden {
               display: none;
          }

          @include media(68.75em) {
               padding: 3rem 0 0 0;
          }
     }

     &__poster-img {

          @include media(phone) {
               width: 28rem;
               height: 44rem;
          }
     }

     &__movie-info {
          font-size: 1.6rem;
          margin-bottom: 2rem;

          & > *:not(:last-child) {
               margin-right: 2rem;
          }
     }

     &__vote-average {
          &--hidden {
               display: none;
          }
     }

     &__higlight {
          color: $text-red;
     }

     &__add-to-watchlist {
          @include media(phone) {
               margin-bottom: 6rem;
          }
     }

     &__backdrop {
          position: absolute;
          top: 0;
          left: 0;
          height: 100%;
          width: 100%;
          object-fit: cover;
          opacity: 0.3;
     }
}

@-moz-document url-prefix() {
     .details__content {
          @include media(68.75em) {
               overflow: hidden;
               overflow-y: auto;
          }
     }
}