.search_form {
     background-color: transparent;
     margin-right: auto;
     @include flexCenter;
     margin-left: 5rem;
     color: $color-white-light;

     &__input {
          margin-left: 1rem;
          border: 1px solid $color-red-dark-3;
          background-color: transparent;
          font-size: 1.5rem;
          font-weight: 300;
          color: inherit;
          
          &::-webkit-input-placeholder {
               color: inherit;
               font-weight: 100;
          }

          &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
               color: inherit;
               font-weight: 100;
          }
          &::-moz-placeholder { /* Firefox 19+ */
               color: inherit;
               font-weight: 100;
          }
          &:-ms-input-placeholder { /* IE 10+ */
               color: inherit;
               font-weight: 100;
          }
          &:-moz-placeholder { /* Firefox 18- */
               color: inherit;
               font-weight: 100;
          }

          &:focus {
               outline: none;
          }

          &:invalid {
               box-shadow: none;
           }
     }
}
