%base {
     display: block;
     content: "";
     border-radius: 50%;
     border: 8px solid transparent;
     border-top-color: $color-red-dark-3;
     border-left-color: $color-red-dark-3;
     border-bottom-color: $color-red-dark-3;
}

.loading {
     height: 100%;
     @include flexCenter;
     flex-direction: column;

     &__animation {
         margin-bottom: 3rem;
     }

     &__circle {
          display: block;
          height: 16rem;
          width: 16rem;
          border-radius: 50%;
          position: relative;
     }

     &__circle::before {
          @extend %base;
          position: absolute;
          top: 3rem;
          left: 3rem;
          height: 10rem;
          width: 10rem;
          animation: rotateLeft 2s linear infinite;
     }

     &__circle::after {
          @extend %base;
          position: absolute;
          top: 0rem;
          left: 0rem;
          height: 16rem;
          width: 16rem;
          animation: rotateRight 2s linear infinite;
     }
}
