.movie {
	width: 20.5rem;
	margin: 0 0.6rem 5rem 0.6rem;
	position: relative;

	@include media(big-desktop) {
		width: 25.2rem;
	}

	@include media(42em) {
		width: 17.5rem;
		margin: 0 0.5rem 5rem 0.5rem;
	}

	@include media(phone) {
		width: 15.5rem;
		margin-bottom: 5rem;
	}

	@include media(22em) {
		width: 13.5rem;
		margin-bottom: 5rem;
	}

	&__link {
		width: 100%;
		overflow: hidden;
	}

	&__link:hover &__poster {
		transform: scale(1.06);
	}

	&__rate {
		position: absolute;
		top: -4%;
		left: 50%;
		transform: translate(-50%, 0);
		background-color: $color-yellow;
		padding: 0.1rem 1.5rem;
		font-size: 1.5rem;
		color: $color-white;
		border-radius: 20px;
		z-index: 1;

		&--hidden {
			display: none;
		}
	}

	&__poster {
		width: 100%;
		height: 30rem;
		box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.301);
		transition: all 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);

		@include media(big-desktop) {
			height: 38rem;
		}

		@include media(42em) {
			height: 27rem;
		}

		@include media(phone) {
			height: 24rem;
		}

		@include media(22em) {
			height: 21rem;
		}
	}

	&__genres {
		color: $text-gray;
		font-size: 1.2rem;
		display: flex;
		flex-wrap: wrap;
		margin-top: 0.6rem;
	}

	&__genre {
		&:not(:last-child) {
			&::after {
				content: ',';
				margin-right: 0.6rem;
			}
		}
	}
}
