.sidebar {
	padding: 3.5rem 0;
	flex-basis: 16%;
	background: $bg-black-dark;
	@include flexColumn;
	justify-content: space-between;
	transition: all 0.6s cubic-bezier(0.445, 0.05, 0.55, 0.95);

	&__logo-box {
		@include flexCenter;
		margin-top: auto;
	}

	&__logo {
		height: 5rem;

		@include media(big-desktop) {
			height: 5.5rem;
		}
	}

	@include media(78.75em) {
		flex-basis: 20%;
	}

	@include media(71.8em) {
		flex-basis: 22%;
	}

	@include mediaheight(40em) {
		padding: 6.5rem 0;
		overflow: hidden;
		overflow-y: overlay;
		&::-webkit-scrollbar {
			width: 1rem;
		}

		&::-webkit-scrollbar-track {
			background-color: $bg-black-dark;
		}

		&::-webkit-scrollbar-thumb {
			background-color: $color-red-dark-3;
			border-radius: 50px;
		}
	}

	@include mediaheight(desktop) {
		justify-content: flex-start;

		// & > * {
		// 	margin: 0.4rem 0;
		// }

		&__logo-box {
			margin-top: auto;
		}
	}

	@include media(54em) {
		position: absolute;
		top: 0;
		left: -100%;
		height: 100%;
		z-index: 1000;

		&--open {
			left: 0;
		}
	}

	@include media(22.5em) {
		width: 100%;
	}
}

@-moz-document url-prefix() {
	.sidebar {
		display: block;

		@include mediaheight(40em) {
			padding: 6.5rem 0;
			overflow: hidden;
			overflow-y: scroll;

			& > *:last-child {
				margin-bottom: 3rem;
			}
		}
	}
}

_::-webkit-full-page-media,
_:future,
.sidebar {
	display: block;
	padding: 2.6rem 0;

	@include mediaheight(40em) {
		padding: 6.5rem 0;
		overflow: hidden;
		overflow-y: scroll;

		& > *:last-child {
			margin-bottom: 3rem;
		}
	}
}
