.trailer {
     margin: 6rem 0;
     align-items: center;

     &__video {
          height: 33rem;
          width: 50rem;

          @include media(big-desktop) {
               width: 68rem;
               height: 46rem;
          }

          @include media(68.75em) {
               width: 62rem;
               height: 42rem;
          }

          @include media(tab-land) {
               width: 55rem;
               height: 30rem;
          }

          @include media(phone) {
               width: 50rem;
               height: 30rem;
          }

          @include media(phone-sm) {
               width: 35rem;
          }

          @include media(22.5em) {
               width: 33rem;
          }
     }
}