.user {
     @include flexCenter;

     @include mediaheight(tab-land) {
          margin-bottom: 3rem;
    }

     &__image {
          height: 4.6rem;
          width: 4.6rem;
          border-radius: 50%;
          margin-right: 1.6rem;
     }
}