/**************************************
***** BASE
***************************************/
*,
*:before,
*:after {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html {
	font-size: 62.5%; //1 rem = 10px; 10px/16px = 62.5%

	@include media(desktop) {
		font-size: 64%;
	}

	@include media(tab-land) {
		//1200px
		font-size: 56.25%; // 9px / 16px = 56.25%;
	}

	@include media(tab-port) {
		//900px
		font-size: 54%;
	}
}

body {
	box-sizing: border-box;
	overflow: hidden;
}

.scroll {
	&::-webkit-scrollbar {
		width: 1rem;
	}

	&::-webkit-scrollbar-track {
		background-color: $bg-black-dark;
	}

	&::-webkit-scrollbar-thumb {
		background-color: $color-red-dark-3;
		border-radius: 50px;
	}
}

.container {
	height: 100vh;
	width: 100%;
	background-color: $color-gray;
	@include flexColumn;
}

.header {
	height: 6rem;
}

.content {
	display: flex;
	background-color: $color-gray;
	position: relative;
	flex: 1;
}

.main {
	flex: 1;
	position: relative;
}

/* Safari */
_::-webkit-full-page-media,
_:future,
.main {
	height: 92vh;
}

@-moz-document url-prefix() {
	.main {
		height: 92vh;
	}
}

.section {
	overflow-y: scroll;
	overflow-x: hidden;
	@extend .scroll;
	padding: 5rem 4.5rem;
	height: 100%;

	@include media(phone) {
		padding: 5rem 2rem;
	}
}
