@keyframes rotateRight {
     0% {
          transform: rotate(0deg)
     }

     80% {
          transform: rotate(260deg)
     }

     100% {
          transform: rotate(360deg)
     }
}

@keyframes rotateLeft {
     0% {
          transform: rotate(0deg)
     }

     80% {
          transform: rotate(-260deg)
     }

     100% {
          transform: rotate(-360deg)
     }
}

@keyframes openMovieDetails {
     0% {
          opacity: 0;
          visibility: hidden;
          transform: translateY(30px);
     }

     100% {
          opacity: 1;
          visibility: visible;
          transform: translateY(0px);
     }

}
.fadeInLeft-appear {
     opacity: 0;
     transform: translateX(-40px);
 }

 @for $i from 1 through 20 {
	.fadeInLeft-appear.fadeInLeft-appear-active:nth-child(#{$i}) {
		opacity: 1;
          transform: translateX(0px);
          transition: all #{$i * .6}s  cubic-bezier(0.19, 1, 0.22, 1);
	}
}

.fadeUp-appear {
    opacity: 0;
    transform: translateY(20px);
  }
  
  .fadeUp-appear.fadeUp-appear-active {
    opacity: 1;
    transform: translateY(0px);
    transition: all .8s cubic-bezier(0.19, 1, 0.22, 1);
  }