@mixin flexCenter {
     display: flex;
     justify-content: center;
     align-items: center;
}

@mixin flexColumn {
     display: flex;
     flex-direction: column;
}

@mixin flexCenterH {
     display: flex;
     justify-content: center;
}

@mixin flexCenterV {
     display: flex;
     align-items: center;
}

