.header {
     background-color: $color-red-dark-3;
     display: flex;

     &__logo-box {
          flex: 0 0 16%;
          background-color: $text-red;
          @include flexCenter;
          padding: 1.2rem;

          @include media(78.75em) {
            flex-basis: 20%;
          }

          @include media(71.8em) {
            flex: 0 0 22%;
       }

          @include media(phone) {
               flex: 0 0 26%;
         }
     }

     &__logo {
          height: 4rem;
          width: 4rem;
          fill: $color-logo;

          @include media(54em) {
            display: none;
        }

       &--mobile {
           display: none;

           @include media(54em) {
                display: block;
            }
       }
     }
}