.nav {
     margin-top: 2rem;
     margin-bottom: 1.5rem;

     &__list {
          list-style: none;
          margin-bottom: 2.2rem;
     }

     &__item {
          &:not(:last-child) {
               margin-bottom: .5rem;
          }

          &--sing-out {
               display: none;

               @include media(phone) {
                    display: block;
               }
          }
     }

     &__link {
          &:link,
          &:visited {
               @include flexCenterV;
               justify-content: space-between;
               text-decoration: none;
               color: $text-gray;
               font-size: 1.5rem;
               letter-spacing: 0.05rem;
               width: 100%;
               padding: 1.3rem 2.5rem 1.3rem 3.5rem;
               position: relative;
               z-index: 10;
               transition: color .4s ease-in;
          }

          &:link::before,
          &:visited::before {
               content: "";
               position: absolute;
               display: block;
               bottom: 0;
               left: 0;
               height: 0;
               width: 3%;
               background-color: $color-gray;
               z-index: -1;
               transition: height .2s ease-in-out, width .3s .4s cubic-bezier(0.25, 0.46, 0.45, 0.94);
          }

          &:hover,
          &:active {
               color: $text-red;
          }

          &:hover::before,
          &:active::before {
               height: 100%;
               width: 100%;
          }

          &--active {
               &:link,
               &:visited {
                    color: $text-red;
               }

               &:link::before,
               &:visited::before {
                    height: 100%;
                    width: 100%;
               }
          }
     }

     &__link--active > &__arrow {
          opacity: 1;
          visibility: visible;
          transform: rotate(180deg) translateX(-5px);
     }

     &__arrow {
          opacity: 0;
          visibility: hidden;
          transform: rotate(180deg) translateX(5px);
          transition: all .3s;
     }

     &__line {
          margin-top: 5rem;
          display: block;
          margin: 0 auto;
          width: 80%;
          height: .1rem;
          background-color: rgba(204, 204, 204, 0.116);
     }
}