@import url("https://fonts.googleapis.com/css?family=Lato:100,300,400");
@keyframes rotateRight {
  0% {
    transform: rotate(0deg); }
  80% {
    transform: rotate(260deg); }
  100% {
    transform: rotate(360deg); } }

@keyframes rotateLeft {
  0% {
    transform: rotate(0deg); }
  80% {
    transform: rotate(-260deg); }
  100% {
    transform: rotate(-360deg); } }

@keyframes openMovieDetails {
  0% {
    opacity: 0;
    visibility: hidden;
    transform: translateY(30px); }
  100% {
    opacity: 1;
    visibility: visible;
    transform: translateY(0px); } }

.fadeInLeft-appear {
  opacity: 0;
  transform: translateX(-40px); }

.fadeInLeft-appear.fadeInLeft-appear-active:nth-child(1) {
  opacity: 1;
  transform: translateX(0px);
  transition: all 0.6s cubic-bezier(0.19, 1, 0.22, 1); }

.fadeInLeft-appear.fadeInLeft-appear-active:nth-child(2) {
  opacity: 1;
  transform: translateX(0px);
  transition: all 1.2s cubic-bezier(0.19, 1, 0.22, 1); }

.fadeInLeft-appear.fadeInLeft-appear-active:nth-child(3) {
  opacity: 1;
  transform: translateX(0px);
  transition: all 1.8s cubic-bezier(0.19, 1, 0.22, 1); }

.fadeInLeft-appear.fadeInLeft-appear-active:nth-child(4) {
  opacity: 1;
  transform: translateX(0px);
  transition: all 2.4s cubic-bezier(0.19, 1, 0.22, 1); }

.fadeInLeft-appear.fadeInLeft-appear-active:nth-child(5) {
  opacity: 1;
  transform: translateX(0px);
  transition: all 3s cubic-bezier(0.19, 1, 0.22, 1); }

.fadeInLeft-appear.fadeInLeft-appear-active:nth-child(6) {
  opacity: 1;
  transform: translateX(0px);
  transition: all 3.6s cubic-bezier(0.19, 1, 0.22, 1); }

.fadeInLeft-appear.fadeInLeft-appear-active:nth-child(7) {
  opacity: 1;
  transform: translateX(0px);
  transition: all 4.2s cubic-bezier(0.19, 1, 0.22, 1); }

.fadeInLeft-appear.fadeInLeft-appear-active:nth-child(8) {
  opacity: 1;
  transform: translateX(0px);
  transition: all 4.8s cubic-bezier(0.19, 1, 0.22, 1); }

.fadeInLeft-appear.fadeInLeft-appear-active:nth-child(9) {
  opacity: 1;
  transform: translateX(0px);
  transition: all 5.4s cubic-bezier(0.19, 1, 0.22, 1); }

.fadeInLeft-appear.fadeInLeft-appear-active:nth-child(10) {
  opacity: 1;
  transform: translateX(0px);
  transition: all 6s cubic-bezier(0.19, 1, 0.22, 1); }

.fadeInLeft-appear.fadeInLeft-appear-active:nth-child(11) {
  opacity: 1;
  transform: translateX(0px);
  transition: all 6.6s cubic-bezier(0.19, 1, 0.22, 1); }

.fadeInLeft-appear.fadeInLeft-appear-active:nth-child(12) {
  opacity: 1;
  transform: translateX(0px);
  transition: all 7.2s cubic-bezier(0.19, 1, 0.22, 1); }

.fadeInLeft-appear.fadeInLeft-appear-active:nth-child(13) {
  opacity: 1;
  transform: translateX(0px);
  transition: all 7.8s cubic-bezier(0.19, 1, 0.22, 1); }

.fadeInLeft-appear.fadeInLeft-appear-active:nth-child(14) {
  opacity: 1;
  transform: translateX(0px);
  transition: all 8.4s cubic-bezier(0.19, 1, 0.22, 1); }

.fadeInLeft-appear.fadeInLeft-appear-active:nth-child(15) {
  opacity: 1;
  transform: translateX(0px);
  transition: all 9s cubic-bezier(0.19, 1, 0.22, 1); }

.fadeInLeft-appear.fadeInLeft-appear-active:nth-child(16) {
  opacity: 1;
  transform: translateX(0px);
  transition: all 9.6s cubic-bezier(0.19, 1, 0.22, 1); }

.fadeInLeft-appear.fadeInLeft-appear-active:nth-child(17) {
  opacity: 1;
  transform: translateX(0px);
  transition: all 10.2s cubic-bezier(0.19, 1, 0.22, 1); }

.fadeInLeft-appear.fadeInLeft-appear-active:nth-child(18) {
  opacity: 1;
  transform: translateX(0px);
  transition: all 10.8s cubic-bezier(0.19, 1, 0.22, 1); }

.fadeInLeft-appear.fadeInLeft-appear-active:nth-child(19) {
  opacity: 1;
  transform: translateX(0px);
  transition: all 11.4s cubic-bezier(0.19, 1, 0.22, 1); }

.fadeInLeft-appear.fadeInLeft-appear-active:nth-child(20) {
  opacity: 1;
  transform: translateX(0px);
  transition: all 12s cubic-bezier(0.19, 1, 0.22, 1); }

.fadeUp-appear {
  opacity: 0;
  transform: translateY(20px); }

.fadeUp-appear.fadeUp-appear-active {
  opacity: 1;
  transform: translateY(0px);
  transition: all 0.8s cubic-bezier(0.19, 1, 0.22, 1); }

/*

1800px: Big desktop
1200 - 900px: Tablet landscape
900 - 600px: Tablet portrait
600 - 480px : Phone
480px - 0 : Small phone

- big-desktop      1800px - 112.5em
- tab-land         1200px - 75em
- tab-port         900px - 56.25em
- phone-land       700px - 43.75em
- phone            600px - 37.5em
- phone-sm         480px - 30em

*/
/**************************************
***** Colors
***************************************/
/**************************************
***** Typography
***************************************/
body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #FFFFFF;
  text-rendering: optimizeLegibility; }

.heading-first, .not_found__message {
  font-size: 3rem;
  text-transform: capitalize;
  font-weight: 300;
  letter-spacing: .1rem; }

.heading-second {
  font-size: 2.8rem;
  margin-bottom: 2rem; }

.user__name {
  font-size: 1.6rem;
  color: #ADB9C1; }

.activity {
  letter-spacing: 0.05rem; }
  .activity__heading {
    font-size: 1.4rem;
    font-weight: 300;
    text-transform: uppercase;
    color: #ADB9C1;
    display: flex;
    align-items: center; }
  .activity__message {
    font-size: 1.2rem;
    color: #ADB9C1; }
  .activity__text-highlight {
    color: #B9424E; }

.movie__title {
  margin-top: 1.2rem;
  font-size: 2rem; }

.loading__description {
  font-size: 2rem; }

.details__overview, .details__director {
  font-size: 1.5rem; }
  .details__overview:not(.details__director), .details__director:not(.details__director) {
    margin-bottom: 2rem; }
  .details__overview--hidden, .details__director--hidden {
    display: none; }

.btn {
  display: inline-block;
  background-color: transparent;
  border: none;
  cursor: pointer; }
  .btn:focus {
    outline: none; }
  .btn--sign-out {
    color: #f7f7f7;
    font-size: 1.5rem;
    font-weight: 300;
    padding: 0 2.5rem;
    background-color: transparent; }
    .btn--sign-out:hover {
      background-color: #FFFFFF;
      color: #B9424E; }
    @media only screen and (max-width: 37.5em) {
      .btn--sign-out {
        display: none; } }
  .btn--mobile-sign-out {
    width: 100%;
    text-align: left;
    padding: 1.3rem 2.5rem 1.3rem 3.5rem;
    position: relative;
    transition: color .3s .3s ease-in; }
    .btn--mobile-sign-out::before {
      content: "";
      position: absolute;
      display: block;
      bottom: 0;
      left: 0;
      height: 0;
      width: 3%;
      background-color: #FFFFFF;
      z-index: -1;
      transition: height 0.2s ease-in-out, width 0.3s 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94); }
    .btn--mobile-sign-out:hover::before {
      height: 100%;
      width: 100%; }
    .btn--mobile-sign-out:hover {
      background-color: transparent; }
    @media only screen and (max-width: 54em) {
      .btn--mobile-sign-out {
        display: block; } }
  .btn--menu {
    display: none; }
    @media only screen and (max-width: 54em) {
      .btn--menu {
        display: block; } }
  .btn--close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 1rem 1.5rem;
    z-index: 4000; }
    .btn--close::before {
      content: "";
      display: block;
      position: absolute;
      top: -100%;
      right: 0;
      background-color: #ac3e49;
      height: 100%;
      width: 100%;
      z-index: -1;
      transition: all .4s ease-in-out; }
    .btn--close:hover::before {
      top: 0; }
  .btn--play, .btn--add, .btn--remove {
    margin-top: 2rem;
    border: 2px solid #FFFFFF;
    color: #FFFFFF;
    padding: 1.2rem 3.5rem;
    font-size: 1.4rem;
    text-transform: uppercase;
    font-weight: 400;
    border-radius: 4px;
    background: linear-gradient(140deg, transparent 50%, transparent 50%, #ac3e49 50%);
    background-size: 260%;
    transition: all .6s; }
    .btn--play:hover, .btn--add:hover, .btn--remove:hover {
      background-position: 90%;
      border: 2px solid #ac3e49;
      box-shadow: 0 1.5rem 4rem rgba(20, 20, 20, 0.511);
      transform: translateY(-2px); }
  .btn--add {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem; }
  .btn--remove {
    padding: 1.2rem 3rem; }

.btn--close:hover .icon--close {
  transform: rotate(90deg); }

.icon {
  height: 2.2rem;
  width: 2.2rem; }
  .icon--glass {
    fill: #ffe1e4; }
  .icon--arrow {
    fill: #575E63;
    height: 2.6rem;
    width: 2.6rem; }
  .icon--close {
    fill: #FFFFFF;
    height: 3rem;
    width: 3rem;
    transition: all 0.4s ease-in-out; }
  .icon--add {
    fill: #FFFFFF; }
  .icon--play {
    fill: rgba(255, 255, 255, 0.81);
    height: 15rem;
    width: 15rem; }

/**************************************
***** BASE
***************************************/
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media only screen and (max-width: desktop) {
    html {
      font-size: 64%; } }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 54%; } }

body {
  box-sizing: border-box;
  overflow: hidden; }

.scroll::-webkit-scrollbar, .section::-webkit-scrollbar {
  width: 1rem; }

.scroll::-webkit-scrollbar-track, .section::-webkit-scrollbar-track {
  background-color: #191C1F; }

.scroll::-webkit-scrollbar-thumb, .section::-webkit-scrollbar-thumb {
  background-color: #ac3e49;
  border-radius: 50px; }

.container {
  height: 100vh;
  width: 100%;
  background-color: #222B31;
  display: flex;
  flex-direction: column; }

.header {
  height: 6rem; }

.content {
  display: flex;
  background-color: #222B31;
  position: relative;
  flex: 1; }

.main {
  flex: 1;
  position: relative; }

/* Safari */
_::-webkit-full-page-media,
_:future,
.main {
  height: 92vh; }

@-moz-document url-prefix() {
  .main {
    height: 92vh; } }

.section {
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 5rem 4.5rem;
  height: 100%; }
  @media only screen and (max-width: 37.5em) {
    .section {
      padding: 5rem 2rem; } }

.header {
  background-color: #ac3e49;
  display: flex; }
  .header__logo-box {
    flex: 0 0 16%;
    background-color: #B9424E;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.2rem; }
    @media only screen and (max-width: 78.75em) {
      .header__logo-box {
        flex-basis: 20%; } }
    @media only screen and (max-width: 71.8em) {
      .header__logo-box {
        flex: 0 0 22%; } }
    @media only screen and (max-width: 37.5em) {
      .header__logo-box {
        flex: 0 0 26%; } }
  .header__logo {
    height: 4rem;
    width: 4rem;
    fill: #f7f7f7; }
    @media only screen and (max-width: 54em) {
      .header__logo {
        display: none; } }
    .header__logo--mobile {
      display: none; }
      @media only screen and (max-width: 54em) {
        .header__logo--mobile {
          display: block; } }

.nav {
  margin-top: 2rem;
  margin-bottom: 1.5rem; }
  .nav__list {
    list-style: none;
    margin-bottom: 2.2rem; }
  .nav__item:not(:last-child) {
    margin-bottom: .5rem; }
  .nav__item--sing-out {
    display: none; }
    @media only screen and (max-width: 37.5em) {
      .nav__item--sing-out {
        display: block; } }
  .nav__link:link, .nav__link:visited {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
    color: #ADB9C1;
    font-size: 1.5rem;
    letter-spacing: 0.05rem;
    width: 100%;
    padding: 1.3rem 2.5rem 1.3rem 3.5rem;
    position: relative;
    z-index: 10;
    transition: color .4s ease-in; }
  .nav__link:link::before, .nav__link:visited::before {
    content: "";
    position: absolute;
    display: block;
    bottom: 0;
    left: 0;
    height: 0;
    width: 3%;
    background-color: #222B31;
    z-index: -1;
    transition: height 0.2s ease-in-out, width 0.3s 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94); }
  .nav__link:hover, .nav__link:active {
    color: #B9424E; }
  .nav__link:hover::before, .nav__link:active::before {
    height: 100%;
    width: 100%; }
  .nav__link--active:link, .nav__link--active:visited {
    color: #B9424E; }
  .nav__link--active:link::before, .nav__link--active:visited::before {
    height: 100%;
    width: 100%; }
  .nav__link--active > .nav__arrow {
    opacity: 1;
    visibility: visible;
    transform: rotate(180deg) translateX(-5px); }
  .nav__arrow {
    opacity: 0;
    visibility: hidden;
    transform: rotate(180deg) translateX(5px);
    transition: all .3s; }
  .nav__line {
    margin-top: 5rem;
    display: block;
    margin: 0 auto;
    width: 80%;
    height: .1rem;
    background-color: rgba(204, 204, 204, 0.116); }

.search_form {
  background-color: transparent;
  margin-right: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 5rem;
  color: #ffe1e4; }
  .search_form__input {
    margin-left: 1rem;
    border: 1px solid #ac3e49;
    background-color: transparent;
    font-size: 1.5rem;
    font-weight: 300;
    color: inherit; }
    .search_form__input::-webkit-input-placeholder {
      color: inherit;
      font-weight: 100; }
    .search_form__input::-webkit-input-placeholder {
      /* Chrome/Opera/Safari */
      color: inherit;
      font-weight: 100; }
    .search_form__input::-moz-placeholder {
      /* Firefox 19+ */
      color: inherit;
      font-weight: 100; }
    .search_form__input:-ms-input-placeholder {
      /* IE 10+ */
      color: inherit;
      font-weight: 100; }
    .search_form__input:-moz-placeholder {
      /* Firefox 18- */
      color: inherit;
      font-weight: 100; }
    .search_form__input:focus {
      outline: none; }
    .search_form__input:invalid {
      box-shadow: none; }

.user {
  display: flex;
  justify-content: center;
  align-items: center; }
  @media only screen and (max-height: 45em) {
    .user {
      margin-bottom: 3rem; } }
  .user__image {
    height: 4.6rem;
    width: 4.6rem;
    border-radius: 50%;
    margin-right: 1.6rem; }

.activity {
  padding: 0rem 3rem;
  margin-bottom: 2.2rem;
  /* Safari */ }
  @media only screen and (max-height: 45em) {
    .activity {
      margin-bottom: 5rem; } }
  .activity__number {
    margin-left: 1rem;
    color: #FFFFFF;
    background-color: #B9424E;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 50%;
    font-size: 1.2rem; }
  .activity__users {
    margin-top: 2rem; }
  .activity__user {
    display: flex;
    align-items: center; }
    .activity__user:not(:last-child) {
      margin-bottom: 2rem; }
  .activity__user-image {
    height: 4rem;
    border-radius: 50%;
    margin-right: 1rem; }
  .activity _::-webkit-full-page-media, .activity _:future, .activity__user-image {
    height: 4rem;
    min-width: 4rem; }

@-moz-document url-prefix() {
  .activity {
    margin-bottom: 2.6rem; } }

.movies__list {
  margin-top: 3.2rem;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; }

.movie {
  width: 20.5rem;
  margin: 0 0.6rem 5rem 0.6rem;
  position: relative; }
  @media only screen and (min-width: 112.5em) {
    .movie {
      width: 25.2rem; } }
  @media only screen and (max-width: big-desktop) {
    .movie {
      width: 25.2rem; } }
  @media only screen and (max-width: 42em) {
    .movie {
      width: 17.5rem;
      margin: 0 0.5rem 5rem 0.5rem; } }
  @media only screen and (max-width: 37.5em) {
    .movie {
      width: 15.5rem;
      margin-bottom: 5rem; } }
  @media only screen and (max-width: 22em) {
    .movie {
      width: 13.5rem;
      margin-bottom: 5rem; } }
  .movie__link {
    width: 100%;
    overflow: hidden; }
  .movie__link:hover .movie__poster {
    transform: scale(1.06); }
  .movie__rate {
    position: absolute;
    top: -4%;
    left: 50%;
    transform: translate(-50%, 0);
    background-color: #F7B032;
    padding: 0.1rem 1.5rem;
    font-size: 1.5rem;
    color: #FFFFFF;
    border-radius: 20px;
    z-index: 1; }
    .movie__rate--hidden {
      display: none; }
  .movie__poster {
    width: 100%;
    height: 30rem;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.301);
    transition: all 0.6s cubic-bezier(0.215, 0.61, 0.355, 1); }
    @media only screen and (min-width: 112.5em) {
      .movie__poster {
        height: 38rem; } }
    @media only screen and (max-width: big-desktop) {
      .movie__poster {
        height: 38rem; } }
    @media only screen and (max-width: 42em) {
      .movie__poster {
        height: 27rem; } }
    @media only screen and (max-width: 37.5em) {
      .movie__poster {
        height: 24rem; } }
    @media only screen and (max-width: 22em) {
      .movie__poster {
        height: 21rem; } }
  .movie__genres {
    color: #ADB9C1;
    font-size: 1.2rem;
    display: flex;
    flex-wrap: wrap;
    margin-top: 0.6rem; }
  .movie__genre:not(:last-child)::after {
    content: ',';
    margin-right: 0.6rem; }

.not_found {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center; }

.loading__circle::before, .loading__circle::after {
  display: block;
  content: "";
  border-radius: 50%;
  border: 8px solid transparent;
  border-top-color: #ac3e49;
  border-left-color: #ac3e49;
  border-bottom-color: #ac3e49; }

.loading {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }
  .loading__animation {
    margin-bottom: 3rem; }
  .loading__circle {
    display: block;
    height: 16rem;
    width: 16rem;
    border-radius: 50%;
    position: relative; }
  .loading__circle::before {
    position: absolute;
    top: 3rem;
    left: 3rem;
    height: 10rem;
    width: 10rem;
    animation: rotateLeft 2s linear infinite; }
  .loading__circle::after {
    position: absolute;
    top: 0rem;
    left: 0rem;
    height: 16rem;
    width: 16rem;
    animation: rotateRight 2s linear infinite; }

.details {
  background-color: rgba(0, 0, 0, 0.479);
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center; }
  .details__overlay {
    height: 94%;
    width: 94%;
    position: relative;
    border-top: 3px solid #ac3e49;
    border-bottom: 3px solid #ac3e49;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.849);
    overflow: hidden;
    padding: 4rem 5rem;
    background-color: #000;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-10%);
    animation: openMovieDetails .6s forwards ease-in-out;
    animation-delay: .6s; }
    @media only screen and (max-width: 68.75em) {
      .details__overlay {
        padding: 0rem; } }
    @media only screen and (max-width: 37.5em) {
      .details__overlay {
        padding: 0rem;
        height: 100%;
        width: 100%;
        border-top: 0px solid transparent;
        border-bottom: 0px solid transparent; } }
  .details__content {
    height: 100%;
    display: flex;
    position: relative; }
    .details__content > * {
      flex: 1;
      display: flex;
      justify-content: center;
      flex-direction: column; }
    @media only screen and (max-width: 68.75em) {
      .details__content {
        display: block;
        overflow: hidden;
        overflow-y: overlay;
        padding: 3rem 3.2rem; }
        .details__content > *:first-child {
          margin-bottom: 6rem; }
        .details__content::-webkit-scrollbar {
          width: 1rem; }
        .details__content::-webkit-scrollbar-track {
          background-color: #191C1F; }
        .details__content::-webkit-scrollbar-thumb {
          background-color: #ac3e49;
          border-radius: 50px; } }
  .details__reference > * {
    padding-left: 2rem; }
  .details__play, .details__poster {
    align-items: center; }
    .details__play--hidden, .details__poster--hidden {
      display: none; }
    @media only screen and (max-width: 68.75em) {
      .details__play, .details__poster {
        padding: 3rem 0 0 0; } }
  @media only screen and (max-width: 37.5em) {
    .details__poster-img {
      width: 28rem;
      height: 44rem; } }
  .details__movie-info {
    font-size: 1.6rem;
    margin-bottom: 2rem; }
    .details__movie-info > *:not(:last-child) {
      margin-right: 2rem; }
  .details__vote-average--hidden {
    display: none; }
  .details__higlight {
    color: #B9424E; }
  @media only screen and (max-width: 37.5em) {
    .details__add-to-watchlist {
      margin-bottom: 6rem; } }
  .details__backdrop {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    opacity: 0.3; }

@-moz-document url-prefix() {
  @media only screen and (max-width: 68.75em) {
    .details__content {
      overflow: hidden;
      overflow-y: auto; } } }

.trailer {
  margin: 6rem 0;
  align-items: center; }
  .trailer__video {
    height: 33rem;
    width: 50rem; }
    @media only screen and (min-width: 112.5em) {
      .trailer__video {
        width: 68rem;
        height: 46rem; } }
    @media only screen and (max-width: big-desktop) {
      .trailer__video {
        width: 68rem;
        height: 46rem; } }
    @media only screen and (max-width: 68.75em) {
      .trailer__video {
        width: 62rem;
        height: 42rem; } }
    @media only screen and (max-width: 75em) {
      .trailer__video {
        width: 55rem;
        height: 30rem; } }
    @media only screen and (max-width: 37.5em) {
      .trailer__video {
        width: 50rem;
        height: 30rem; } }
    @media only screen and (max-width: 30em) {
      .trailer__video {
        width: 35rem; } }
    @media only screen and (max-width: 22.5em) {
      .trailer__video {
        width: 33rem; } }

.sidebar {
  padding: 3.5rem 0;
  flex-basis: 16%;
  background: #191C1F;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: all 0.6s cubic-bezier(0.445, 0.05, 0.55, 0.95); }
  .sidebar__logo-box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: auto; }
  .sidebar__logo {
    height: 5rem; }
    @media only screen and (min-width: 112.5em) {
      .sidebar__logo {
        height: 5.5rem; } }
    @media only screen and (max-width: big-desktop) {
      .sidebar__logo {
        height: 5.5rem; } }
  @media only screen and (max-width: 78.75em) {
    .sidebar {
      flex-basis: 20%; } }
  @media only screen and (max-width: 71.8em) {
    .sidebar {
      flex-basis: 22%; } }
  @media only screen and (max-height: 40em) {
    .sidebar {
      padding: 6.5rem 0;
      overflow: hidden;
      overflow-y: overlay; }
      .sidebar::-webkit-scrollbar {
        width: 1rem; }
      .sidebar::-webkit-scrollbar-track {
        background-color: #191C1F; }
      .sidebar::-webkit-scrollbar-thumb {
        background-color: #ac3e49;
        border-radius: 50px; } }
  @media only screen and (min-height: 45.68em) {
    .sidebar {
      justify-content: flex-start; }
      .sidebar__logo-box {
        margin-top: auto; } }
  @media only screen and (max-width: 54em) {
    .sidebar {
      position: absolute;
      top: 0;
      left: -100%;
      height: 100%;
      z-index: 1000; }
      .sidebar--open {
        left: 0; } }
  @media only screen and (max-width: 22.5em) {
    .sidebar {
      width: 100%; } }

@-moz-document url-prefix() {
  .sidebar {
    display: block; }
    @media only screen and (max-height: 40em) {
      .sidebar {
        padding: 6.5rem 0;
        overflow: hidden;
        overflow-y: scroll; }
        .sidebar > *:last-child {
          margin-bottom: 3rem; } } }

_::-webkit-full-page-media,
_:future,
.sidebar {
  display: block;
  padding: 2.6rem 0; }
  @media only screen and (max-height: 40em) {
    _::-webkit-full-page-media,
    _:future,
    .sidebar {
      padding: 6.5rem 0;
      overflow: hidden;
      overflow-y: scroll; }
      _::-webkit-full-page-media > *:last-child,
      _:future > *:last-child,
      .sidebar > *:last-child {
        margin-bottom: 3rem; } }
